* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    padding: 0;
    box-sizing: border-box;

}

body {

    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
}

.Color {
    color: #808080;
}

a:hover,
button:hover {
    text-decoration: none;

}

.container {
    padding: 15px;
}

ul {
    list-style: none;
}

.font-bold {
    font-weight: 600;
}

/* .heading{ 
    font-weight: 800;
} */
a,
h2 {
    text-decoration: none;
    color: red;
}

p {
    color: #808080;
}

ul li a {
    text-decoration: none;
}


/* COMMON */

.font-weight {
    font-weight: 800;
}

.card-body a,
h2 {
    color: red;
    text-decoration: none;
}

.card-body {
    padding: 10px;
}

.card-body .section-content {
    display: flex;
    flex-direction: column;
}

.svg {
    height: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1rem;
}


/* COMMON */
/* ->->->-> */

/* Header */

header {
    position: fixed;
    background: white;
    top: 0;
    width: 100%;
    z-index: 100;
    max-width: 100%;

}

.header .nav-list {
    display: none;
}

/* navbar */
nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    margin-top: -30px;
}

.navbar-collapse {
    min-height: 600px;
}

.navbar-footer {
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.navbar-brand {
    color: red;
    font-weight: 800;
    margin-left: 10px;
}

ul li a {
    text-decoration: none;
}


/* hamburger(navbar toggler) */
.hamburger {
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin-top: 50px;
}

.hamburger .bar {
    width: 30px;
    background-color: #808080;
    height: 3px;
    position: relative;
}

.hamburger .bar::before,
.hamburger .bar::after {
    content: "";
    position: absolute;
    width: 100%;
    background-color: grey;
    height: 100%;
}

.hamburger .bar::before {
    bottom: 8px;
}

.hamburger .bar::after {
    top: 8px;
}

ul {
    list-style: none;
}

nav .nav-item .nav-link {
    color: #808080;
}

.nav-item .nav-link:hover {
    color: red;
    text-decoration: underline;

}

.dropdown-item p:hover {
    color: red;
}

.dropdwon-menu:hover li {
    background-color: none;
}

/* ->->->->->->->-> */


/* carousel */

/* carousel section */
.Carousel {

    margin-top: 60px;
    margin-bottom: 50px;
    z-index: 1;
}

.carosuel-inner {
    position: relative;
}

.side-button {
    display: none;
    position: absolute;
    left: 0;
    margin-top: 280px;
    z-index: 100;
    transform: rotate(450deg);
    margin-left: -45px;
}

.side-button a {
    color: white;
}

.carousel-item img {
    height: 200px;
}

.carousel-footer {
    display: none;
    position: absolute;
    bottom: 0;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 1000px;
    transform: translate(50px, -100px);
    background-color: #ffffff;

}

.carousel-footer .carousel-bar {
    margin-left: 50px;
    display: flex;
    z-index: 1;
}

.carousel-footer .carousel-bar ul {
    margin-left: -90px;

}

.Carousel .carousel-bar ul li {
    margin: 20px;
    color: red;
}

.carousel-item-content {

    padding: 20px;
    background-color: red;
    height: 300px;
}

.button {
    display: none;
}

.carousel-item-content {
    color: white;
    font-size: 1rem;
}

.Carousel .btn {
    color: white;
    border: 1px solid white;
    border-radius: 0;
    margin-left: 100px;
}

.carousel-indicators {
    transform: translateY(35px);
}

.carousel-indicators ol li {
    list-style: none;
}

.carousel-indicators li.inactive {
    background-color: gray;
}

.carousel-indicators li.active {
    background-color: red;
}

.navbar-footer a {
    color: white;
}

/* ->->->->->->->-> */

.section-content {
    background-color: rgba(red, green, blue, alpha);
}

.col-1 {
    line-height: 2;
}

.Color {
    font-weight: 100;
    color: grey;
}

.lastbuttons {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.brand {
    display: flex;
    justify-content: space-between;
}

/* footer head */


/* foooter */

.footer {
    padding: 20px;
}

.footer-icons {
    display: flex;
    flex-direction: column;
}



.footer {
    border: 1px solid grey;
}

.footer img {
    background-color: red;
    border: 1px solid red;
    height: 30px;
    width: 30px;
}

.footer h3 {
    color: grey;
}

.footer-icons {

    height: 100px;
    border: 1px solid grey;
}

.footer-icons img {
    height: 30px;
    width: 30px;

}

.fb {
    background-color: #4267B2;
    border: 1px solid #4267B2;
}

.ln {
    background-color: blue;
    border: 1px solid blue;
}

.twit {
    background-color: #00acee;
    border: 1px solid #00acee;
}

.be {
    background-color: #053eff;
    border: 1px solid #053eff;

}

.footer-credit p {
    font-size: 0.8rem;
}


.footer-credit img {
    height: 20px;
    width: 20px;
    margin-top: -10px;
    margin-right: 10px;
}

#card {
    padding: 15px;
}

#cards .card-body {
    margin-bottom: 20px;
}


@media(min-width:375px) {

    header {
        padding: 1px;
    }

    .card-body {
        margin-top: -10px;
    }

    .par {
        display: none;
    }
}




@media(min-width:575px) {

    /* Header */

    header {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .navbar {
        margin-top: -10px;

    }

    .carousel-item img {
        height: 250px;
    }

    .Carousel .carousel-content {
        height: 300px;
        padding: 40px;
        max-width: max-content;
    }

    .carousel-indicators {
        transform: translateY(35px);
    }

    .Carousel .btn {
        margin-left: 220px;
        margin-top: 5px;
    }


    .par {
        display: none;
    }

    .footer-credit p {
        margin-left: 20px;
        margin-top: 4px;
    }

    .footer-credit a {
        margin-right: 10px;
    }
}


@media(min-width:768px) {

    .Carousel .carousel-content {
        font-size: 1.3rem;
        max-width: max-content;
        height: 300px;
    }

    .Carousel {
        margin-bottom: 60px;
    }

    .carousel-indicators {
        transform: translateY(40px);
    }

    .buttons a {
        font-size: 0.8rem;
        margin: 10px;
    }

    .content .col-1 {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 20px;
    }

    .container .row {
        display: grid;
        grid-template-columns: auto auto;
        background-color: light;

    }


    /* card1 */

    .card1-body .section-content {
        height: 200px;
        font-size: 0.8rem;
        margin-top: 12px;
        padding: auto;
    }


    /* card1 */
    .card-body {
        display: flex;
    }


    .container2 {
        background-color: #f8f9fa;
        margin-top: 50px;
        height: 200px;
        z-index: 1;
        overflow: visible;
    }

    #card {
        padding: 40px;
    }

    #card img {
        height: 250px;
    }

    #card .section-content {
        height: 225px;
    }

    #img2 {
        z-index: 2;
        height: 250px;
        transform: translateY(-50px);
        background-color: transparent;

    }

    .row .col-sm-12 .lastbuttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .lastbuttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer {
        display: flex;
        padding: 50px;
        flex-direction: column;
    }

    .footer .contact {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-icons {
        display: flex;
        flex-direction: row;
        border: none;
        color: grey;
        transform: translate(50px, 35px);
    }

    .footer-credit {
        margin-top: -28px;
    }

    .footer-content {
        margin-top: -40px;

    }

    .card {
        margin: 20px;
    }

    .section-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .col-1 {
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
    }

    .footer-credit {
        margin-left: 55px;
    }

    .footer-icons h3 {
        display: none;
    }

    .footer-content p {
        font-size: 0.9rem;
        margin-left: 5px;
    }

    .footer-credit img {
        height: 30px;
        width: 30px;
        margin-top: -15px;
    }

    .footer .footer-heading {
        font-size: 2rem;
    }

}







@media(min-width:992px) {

    /* Common */

    .card h2 {
        font-size: 1rem;
    }

    #card .card-body h2 {
        font-size: 1.2rem;
    }

    /* Header */

    header {
        display: flex;
        flex-direction: column;
        padding: 30px;
    }

    .navbar-collapse {
        min-height: 10px;
        display: flex;
        margin-left: 50px;
        font-size: 1rem;
        width: 100%;


    }

    .navbar-brand {
        margin-left: -100px;
    }

    .dropdown-toggle {
        display: none;
    }

    .Carousel {
        position: relative;
        max-height: 500px;
    }

    .side-button {
        display: block;
    }

    .navbar-footer {
        
        display: none;
    }

    /* Carousel */
    .carousel .carousel-item img {
        width: 100%;
        height: 100%;
        margin-left: 20px;
        padding-left: 50px;
    }

    #slider {
        background-color: #f8f9fa;
        margin-bottom: 50px;
    }

    .carosuel-inner {
        padding: 100px;
    }

    .carousel .carousel-item-content {
        width: 60%;
        height: 33%;
        transform: translate(140px, -300px);
        font-size: 0.8rem;
        background-color: rgba(255, 0, 0, 0.5);
    }

    .carousel-item-content h4 {
        font-size: 1.5rem;
    }


    .carousel .carousel-item {
        height: 550px;
        width: 95%;
    }


    .carousel-indicators {
        transform: translate(180px, -200px);
    }

    .carousel-footer {
        display: block;
        background-color: #ffffff;
        transform: translate(115px, 40px);
        height: 100px;
        z-index: 10000;
        width: 800px;
    }

    .carousel-bar {
        margin-top: -20px;
    }

    .overlay {
        position: absolute;
        padding: 15px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 0, 0, 0.5);
    }

    .carousel-item p {
        width: 80%;
    }



    .button {
        display: inline-block;
        text-decoration: none;
        color: white;
        font-size: 5rem;
        transform: translate(450px, -180px);
    }

    .paragraph {
        width: 80%;
        margin-left: -80px;
    }

    .btn {
        display: none;
    }

    .card-body {
        margin: 12px;
        padding-left: 100px;
        padding-right: 50px;
    }

    #cards .card-body img {
        height: 280px;
    }

    #cards .section-content .content {
        display: flex;
        justify-content: space-between;
        padding-left: 50px;
        font-size: 1rem;
        flex-wrap: wrap;
    }

    #cards .section-content .content .item {
        margin-left: -50px;
        margin-right: 50px;
    }

    /* CARD */
    #card {
        padding: 25px;
    }

    #card img {
        height: 280px;
    }

    #card .section-content {
        height: 250px;
        padding: 25px;
        justify-content: space-between;
        align-items: flex-start;
    }

    .card-body h2 {
        font-size: 1.5rem;
    }

    .card-body .section-content {
        justify-content: space-between;
        align-items: self-start;
        padding-left: 20px;
    }

    .section-content a {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        margin: 10px;
    }

    #cards .buttons {
        display: flex;
        justify-content: space-between;
        margin-left: -5px;
    }

    #cards .buttons a {
        margin: 2px;
        font-size: 1.2rem;
    }

    .Carousel .carousel-item .carousel-content {
        font-size: 1rem;
        max-width: 500px;
        background-color: rgba(255, 0, 0, 0.8);
        max-height: 220px;
        transform: translate(-100px, -300px);
    }

    .Carousel .btn {
        display: none;
    }

    .par {
        margin-right: 550px;
    }

    .content {
        display: flex;
        align-self: flex-start;

    }

    .content .col-1 {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 10px;
        row-gap: 1px;
    }

    #footer-head {
        padding-left: 110px;
        padding-right: 50px;
    }

    .footer-head-container {
        display: flex;
        padding: 20px;
        flex-direction: row;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .footer-head-container .img-div {
        background-color: #f8f9fa;
        max-height: 300px;
        max-width: 500px;
        padding-left: 50px;
        transform: translate(10px, 1px);
        width: 80%;
    }

    .footer-head-container .img-div img {
        height: 400px;
        width: 550px;
        transform: translateY(-70px);
    }

    .footer-head-container .footer-head-content {
        padding-left: 100px;
        padding-top: 50px;
        justify-content: center;
        align-items: center;
    }

    .footer-head-container h2 {
        font-size: 1.5rem;
    }

    .footer-credit p {
        font-size: 1rem;
    }

    .footer-credit a img {
        height: 30px;
        width: 30px;
    }

    .footer-content .footer-icons h3 {
        color: #808080;
        font-size: 1rem;
        margin-top: 15px;
    }

    .footer-icons .social-media {
        margin-top: 10px;
    }

    .footer {
        width: 100%;
        padding-left: 120px;
        padding-right: 60px;
    }

    .footer-content {
        padding-left: 60px;
        padding-right: 50px;

    }

}



@media(min-width:1200px) {

    /* header */
    .navbar-brand {
        margin-left: -100px;
    }

    .navbar-collapse {
        margin-left: 180px;
        font-size: 1.2rem;
    }


    .Carousel {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .carosuel-inner {
        padding: 10px;
        justify-content: center;
    }

    nav {
        height: 50px;
        display: inline-block;
        font-size: 1.2rem;
    }

    /* Carousel Section */
    .carousel-item img {
        height: 750px;
    }


    .carousel-item-content {
        height: 250px;
        width: 500px;
        font-size: 1rem;
        transform: translate(500px, -350px);
        background-color: rgba(255, 0, 0, 0.5);
    }

    .carousel-indicators {
        transform: translate(240px, -200px);
    }

    .carousel-footer {
        width: 1000px;
    }

    .carousel-bar {
        font-size: 1.2rem;
    }

    .Carousel svg {
        height: 25px;
        width: 25px;
    }

    /* Cards Section */

    #card {
        padding-left: 30px;
        padding-right: 110px;
    }

    #cards .heading {
        padding-left: 55px;
    }

    #cards .card-body {
        padding-left: 45px;
        padding-right: 75px;
    }

    #cards .card-body .section-content {
        justify-content: center;

    }

    #cards .card-body .buttons {
        margin-left: -2px;
    }

    #cards .card-body .section-content-heading {
        transform: translate(-50px);
    }

    .col1 {
        column-gap: 500px;
        gap: 150px;
        row-gap: 150px;
    }

    .content .item {
        margin-right: 50px;
        margin-left: -42px;
    }

    #card a {
        margin-left: -10px;
    }

    #cards .buttons {
        margin-left: 40px;
    }



    .par {
        margin-right: 700px;
    }

    header {
        padding: 50px;
    }

    .button {
        transform: translate(500px, -100px);
    }


    #cards {
        padding-left: 70px;
        padding-right: 70px;
    }

    #cards .card-body {
        height: 300px;
    }


    #footer-head {
        padding-left: 110px;
        padding-right: 130px;
    }
}

@media(min-width:1400px) {

    header {
        margin-bottom: 200px;
    }

    .navbar-brand {
        font-size: 2rem;
        margin-left: -20px;
    }

    .navbar-collapse ul li a {
        font-size: 1.2rem;
    }

    .Carousel {
        max-width: 100%;
        max-height: 100%;
        /* padding-left: 10px; */
    }

    .Carousel .carousel-item img {
        height: 850px;
    }

    .carousel-indicators {
        margin-left: 260px;
    }

    .carousel-content {
        margin-top: -50px;
    }


    .carousel-footer {
        width: 1200px;
        transform: translate(180px, 30px);
    }

    .carousel-bar {
        font-size: 1.5rem;
    }

    .Carousel svg {
        height: 30px;
        width: 30px;
    }

    .carousel-item-content {
        margin-top: -350px;
        max-width: 580px;
        margin-left: 100px;
        max-height: 550px;

    }

    .par {
        margin-right: 700px;
    }

    .content {
        display: flex;
        align-self: flex-start;

    }

    .content .col-1 {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 100px;
    }

    .section-content {
        padding: 60px;
    }

    #card1 h2 {
        font-size: 2.5rem;
    }

    .card-body h2 {
        font-size: 2rem;
    }

    .card-body svg {
        margin-top: 10px;
    }

    #card {
        padding-left: 130px;
    }

    #cards {
        padding-left: 170px;
        padding-right: 60px;
    }

    #cards .card-body {
        height: 300px;
    }


    #footer-head {
        padding-left: 210px;
        padding-right: 110px;
    }

    .footer {
        padding-right: 130px;
        padding-left: 230px;
    }

    .footer-content {
        padding-left: 180px;
        padding-right: 120px;
    }
}